[2016-06-02 23:37] rbunn80110 opened #1 "time/batch continues to increase"
I'm assuming the amount of time that each batch takes to run shouldn't continuously increase?  This is great work by the way!

[2016-06-14 17:20] totuta opened #2 "Isn't weighted_pick() giving out random words?"
Hi, does `weighted_pick()` return random characters?

with `sampling_type=1`, `return(int(np.searchsorted(t, np.random.rand(1)*s)))` looks like giving a random choice out of the array t. And that's what I'm having right now. Is it intentional? Or am I doing something wrong?

[2016-06-14 18:36] totuta commented on #2
I figured it out. It chooses the next word randomly out of **k-most probable** words. Makes sense.

[2016-06-14 19:30] totuta commented on #2
Now I got it. `t = np.cumsum(weights)` makes words with higher probability to have bigger interval just before itself and that makes the seemingly random choice to be **weighted** pick. Makes sense.

[2016-06-14 19:30] #2 closed

[2016-07-13 01:20] joe-rivera opened #4 "Training Error"
Getting the following when running on OS X, Python 2.7.10. Any ideas?

Traceback (most recent call last):
  File "train.py", line 11, in <module>
    from model import Model
  File "/word-rnn-tensorflow-master/model.py", line 2, in <module>
    from tensorflow.models.rnn import rnn_cell
  File "/tensorflow/lib/python2.7/site-packages/tensorflow/models/rnn/rnn_cell.py", line 21, in <module>
    rai

[2016-07-13 02:33] hunkim commented on #4
Yes. We were aware of this issue. If you can fix it, please send us patch.

Sung

On Wed, Jul 13, 2016 at 10:20 AM, Joe Rivera <notifications@github.com>
wrote:

[2016-07-14 11:03] amw5g commented on #4
I don't know how to send a patch, but I was able to find a fix from https://github.com/tensorflow/tensorflow/issues/2685
[code]

[2016-07-14 16:05] yosit commented on #4
https://github.com/hunkim/word-rnn-tensorflow/pull/5 fixes it

[2016-07-14 17:38] Frontispiz opened #6 "Changes in Model.py for Python 3.52"
Thank you for this wonderful program. I use it with a few writings of the german philosopher
*Friedrich Wilhelm Nietzsche*.
To use the program 'Model.py' with Python 3.52, the following changes must be made (#changed Python 3.5):

[code]

[2016-07-14 19:25] hunkim commented on #4
#5 merged!

[2016-07-14 19:25] #4 closed

[2016-07-14 19:27] hunkim commented on #6
Feel free to send a Pull Request. Do you have a URL for your service? I'd love to add link form README.md.

[2016-07-14 22:22] Frontispiz commented on #6
Sorry, i'm new here at github. I made a  pull request with the changes for Python v 3.5. I hope i did it right.
What else i have to do? What do you mean with url for my service?

[2016-07-14 22:33] bahmanh commented on #6
The current version should work with Python 3.52 except for line 63 & 64. I can make the appropriate changes and the pull request if you'd like.

[2016-07-14 22:55] Frontispiz commented on #6
Thank you.
I'm using Python 3.52 but if i don't use the _list_ command (63) and the brackets (64) the program will not run.

[2016-07-15 12:54] hunkim commented on #6
#7  Merged

[2016-07-15 12:54] #6 closed

[2016-08-23 14:10] wichtounet opened #9 "Cannot train: 'tuple' object has no attribute 'eval'"
Hi,

I tried this implementation of word-rnn and I have an issue with the train script:

I'm using the last version of tensorflow and Python 3.4.

I've already had this issue with one other tensorflow project so I guesss there must be something wrong with my installation.

Thanks

[2016-08-26 10:47] ddofer opened #10 "Using Word vs char level models"
How can I use word vs char level models? I don't see params for it in the config/train file. Thanks!

PS: Can the word level models support pretrained word embeddings?

[2016-09-01 23:35] moonlightlane commented on #9
I got exactly the same problem with Python 2.7. I think the problem comes from `initial_tuple` which is organized as a tuple. Previously it is not a tuple.

[2016-09-01 23:48] hunkim commented on #9
Thanks! Do you know which version of TF did you use?

On Fri, Sep 2, 2016 at 7:35 AM, moonlightlane <notifications@github.com>
wrote:

[2016-09-01 23:56] moonlightlane commented on #9
I think it is 0.10. There are some posts on github about this issue but none of them work for me... `model.initial_state` looks like this: `(LSTMStateTuple(c=<tf.Tensor 'zeros:0' shape=(50, 128) dtype=float32>, h=<tf.Tensor 'zeros_1:0' shape=(50, 128) dtype=float32>), LSTMStateTuple(c=<tf.Tensor 'zeros_2:0' shape=(50, 128) dtype=float32>, h=<tf.Tensor 'zeros_3:0' shape=(50, 128) dtype=float32>))
`

[2016-09-02 00:28] hunkim commented on #9
Let me try with 0.10. Thanks!

On Fri, Sep 2, 2016 at 7:56 AM, moonlightlane <notifications@github.com>
wrote:

[2016-09-26 00:16] mahmoodn1 opened #11 "Using Word RNN for word prediction"
I am a undergraduate research assistant at Purdue University. I am attempting to use the Word RNN you have hosted on github to improve automated monkey testing (by supplying context relevant input instead of random input that the monkey uses). In a few words, I would like to give the RNN a word or phrase (the context) and would like the output of the RNN (for the monkey to use as input) to be the

[2016-09-27 14:47] hunkim commented on #11
Are you looking for the `--prime` option?

[code]

[2016-09-27 14:50] hunkim commented on #10
For char rnn, use https://github.com/sherjilozair/char-rnn-tensorflow.

I think you can use pre-trained embeddings.

[2016-09-27 14:50] #10 closed

[2016-09-27 14:50] hunkim commented on #1
Thanks!

[2016-09-27 14:50] #1 closed

[2016-09-28 20:48] mahmoodn1 commented on #11
Possibly. The description of prime from the "char rnn" github repo is "Priming. It's also possible to prime the model with some starting text using -primetext. This starts out the RNN with some hardcoded characters to warm it up with some context before it starts generating text. E.g. a fun primetext might be -primetext "the meaning of life is ". I was not sure if this is the feature I was looking

[2016-10-03 13:33] yisun92 opened #12 "Output of sample.py"
Hi,

I tried to train a model on the minishakespear dataset. Then, when I run sample.py, it keeps giving me output like this:

Fame,
Fame,
Fame, full complete; How many it trust no darest to lour? Dive, A merriment fled on a month. Nurse: As he, brother, at the tale his exile, thou shalt thereto with them swarm on Richmond.

There are always three "Fame" at the beginning. Even when I change the nu

[2016-10-03 13:39] hunkim commented on #12
What was the option for the prime? Could you change?

On Mon, Oct 3, 2016 at 9:33 PM, yisun92 <notifications@github.com> wrote:

[2016-10-03 19:00] yisun92 commented on #12
I think I found the problem. In model.py,

[code]
the third line:
[code]
It assigns a word in vocab to prime. That's why it keeps giving the same output.

By the way, how to use a sentence (multiple words) as prime? It seem like this sample method can only takes a single word as prime. Otherwise, it will have a KeyError.

I'm new to rnn and tensorflow. Any help will be appreciated. Thanks a lot.

[2016-10-04 16:21] mperiwal-kore commented on #12
I have the same question how to use sentence(multiple words) as input sequence to predict the next few words like autocomplete?

[2016-10-04 16:31] mperiwal-kore opened #14 "Weighted Sampling"
Hey,

I am unable to understand the basis for weighted sampling to pick the next word.

`def weighted_pick(weights):
            t = np.cumsum(weights)
            s = np.sum(weights)
            return(int(np.searchsorted(t, np.random.rand(1)*s)))`

I also tried with `np.argmax(p)` buts its only giving same words predicted all the time.

[2016-10-05 03:14] astr010 commented on #9
I am using Ubuntu/Linux 64-bit CPU Only, Python 2.7 Tensorflow-0.11 and the work around in the issue below fixed this issue for me
https://github.com/sherjilozair/char-rnn-tensorflow/issues/47

TL;DR
in train.py try replacing the line
`state = model.initial_state.eval()`
with
`model.initial_state = tf.convert_to_tensor(model.initial_state) state = model.initial_state.eval()`

[2016-10-05 04:16] hunkim commented on #9
Can you write a pull request for us?

Sung

On Wed, Oct 5, 2016 at 11:14 AM, astr010 <notifications@github.com> wrote:

[2016-10-05 09:17] wichtounet commented on #9
I made a PR but using sess.run(x) instead of convert_to_tensor and then eval. I tested it on two machines one with standard installation and one with CUDA installation (the one with the original issue).

[2016-10-05 09:30] hunkim commented on #9
Please reopen if this issue reoccurs.

[2016-10-05 09:30] #9 closed

[2016-10-08 14:44] manglakaran commented on #12
@yisun92 @mperiwal-kore Did you guys find any workaround to use a multiple words sequence as the prime text.
If no, could @hunkim Could you suggest some workaround?

[2016-10-09 03:00] yisun92 commented on #12
@manglakaran @mperiwal-kore I found another word-rnn repo [word-rnn-tf](https://github.com/jtoy/word-rnn-tf).

It seems works. Please let me know if it's not the case, because I'm quiet new to this technique.

[2016-10-09 03:18] hunkim commented on #12
If that works, do you think you can send us pull request?
On Sun, 9 Oct 2016 at 11:00 AM, yisun92 <notifications@github.com> wrote:

[2016-10-09 05:49] manglakaran commented on #12
@hunkim I have submitted a PR, it works. Also it tends to give KeyError for words not in the current vocabulary. Looking to fix the same.

[2016-10-09 07:06] hunkim commented on #12
Thanks. If it's not in dic can you replace it to " "?

Sung

[2016-10-09 07:35] manglakaran commented on #12
@hunkim If it is not there in dic, replacing it with " " won't help, cause it will look for vocab[" "] which would throw a KeyError as well.

[2016-10-09 07:46] manglakaran commented on #12
Instead of that I have given id 0 to all unseen words in the input data.

[2016-10-09 09:02] hunkim commented on #12
Thanks! It's merged. @manglakaran @mperiwal-kore, @yisun92 Could you see if it works?

[2016-10-14 11:43] mperiwal-kore commented on #12
[word-rnn](https://github.com/jtoy/word-rnn-tf) worked. You might get errors because of python 2 and 3. But it works. Thanks @yisun92

[2016-10-14 11:44] mperiwal-kore commented on #12
@hunkim - can you please also look into one question I created regarding "Weighted Sampling"

[2016-10-14 12:36] hunkim commented on #12
@manglakaran Did you try out master branch? Does it work for sampling? For your question, see #14.

[2016-10-14 12:37] hunkim commented on #14
Could you execute this code?

[code]

[2016-10-14 12:37] #14 closed

[2016-10-14 12:40] manglakaran commented on #12
@hunkim It works.

[2016-10-15 12:37] hunkim commented on #12
@manglakaran Thanks. Now it is closed!

[2016-10-15 12:37] #12 closed

[2016-10-16 14:49] hunkim commented on #11
@mahmoodn1 Did you try our head version? I think it is fixed. Please let us know if it is not the case.

[2016-10-16 14:49] #11 closed

[2016-10-16 14:51] hunkim opened #18 "Save directory checking?"
Should we put the save directory under the data directory? Or at least, we need to check if the directory exists.

[2016-10-17 00:04] hunkim opened #19 "IndexError: list index out of range"
Cannot reproduce it anymore, but for the record:

[code]

[2016-10-17 11:00] mperiwal-kore commented on #19
I am getting this error a lot of times.

[2016-10-20 06:29] PratikshaTaneja opened #20 "error while running train.py"
The following screenshots are errors:
Please suggest me solution
![screenshot from 2016-10-19 23_09_26](https://cloud.githubusercontent.com/assets/22937197/19548423/0c14679c-96bc-11e6-8f60-455937f6a8ce.png)

![screenshot from 2016-10-19 23_10_11](https://cloud.githubusercontent.com/assets/22937197/19548466/5d63450a-96bc-11e6-8a12-09907eb238f6.png)
![screenshot from 2016-10-19 23_10_24](https://clo

[2016-10-22 06:04] hunkim commented on #20
Resource exhausted. It seems you don't have enough memory. Could you run on a small dataset?

[2016-10-22 06:04] #20 closed

[2016-10-22 06:09] PratikshaTaneja commented on #20
i have 4GB RAM. Isn't it enough for this?

[2016-10-29 14:51] bluemonk482 opened #21 "rnn_decoder initial_state"
Thanks so much for your code hunkim! It is very helpful!

Can I ask a quick question please? Am I right to think: within one batch, every time you feed `model.initial_state: state` to `model`, it overrides
`self.initial_state = cell.zero_state(args.batch_size, tf.float32)` (because this `zero_state` initialisation is also in `model def__init__()`)?

Thanks!

[2016-10-30 16:20] sunxiaobiu commented on #18
Ckpt.model_checkpoint_path: indicates the location where the model is stored, does not need to provide the name of the model, because it will check the checkpoint file to see which one is the latest and what does it called.

In source code saver.py the method get_checkpoint_state will check that the file exists before opening it. so I think there is no need to put the save directory under the data

[2016-10-30 16:31] sunxiaobiu commented on #19
Could there be something wrong with the format of the lines in the words_vocab.pkl file?like empty lines?

[2016-10-31 06:28] hunkim commented on #18
So you want to put the results in the input data folder? Could you make a pull request?

[2016-11-03 07:51] hunkim commented on #18
@sunxiaobiu Any thoughts?

[2016-11-03 07:51] hunkim commented on #19
@sunxiaobiu Could you reproduce this error?

[2016-11-03 08:15] hunkim opened #22 "Support Cloud ML?"
We need to change native python IO to support Google Storage, `gs://`.

Some hits are:
* http://stackoverflow.com/questions/40133223/pickled-scipy-sparse-matrix-as-input-data
* https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/lib/io/file_io.py

[2016-11-03 08:17] hunkim commented on #22
@sunxiaobiu Could you take a look at this?

[2016-11-04 07:01] sunxiaobiu commented on #22
You can test to use the auto-generated Google APIs Client Library for Python to send requests to the Google Cloud Storage JSON API, using OAuth authentication. The examples are as follows:
git clone https://github.com/GoogleCloudPlatform/python-docs-samples.git

[2016-11-04 07:37] hunkim commented on #22
I'm not sure this is the solution. Can you change the code and test?
On Fri, 4 Nov 2016 at 3:01 PM, sunxiaobiu <notifications@github.com> wrote:

[2016-11-04 07:43] sunxiaobiu commented on #18
The result set for each training session is automatically saved in the save / model path, and is not overwritten as long as the new model name is not reassigned. So there is no need to put the save file under the data directory.

[2016-11-04 08:31] sunxiaobiu commented on #22
ok,I will have a try.

[2016-11-04 08:42] hunkim commented on #22
Submit a pr first and I'll check the code.
On Fri, 4 Nov 2016 at 4:31 PM, sunxiaobiu <notifications@github.com> wrote:

[2016-11-04 08:43] hunkim commented on #18
If we have two input data directories and run training twice, I think it
will overwrite, right?
On Fri, 4 Nov 2016 at 3:43 PM, sunxiaobiu <notifications@github.com> wrote:

[2016-11-08 19:04] usr1993 opened #27 "Score a sentence ?"
Hello,
Is there a way to give a score for a gine sentence ???

[2016-11-09 23:29] hunkim commented on #27
@usr1993 Could you elaborate your point a bit more?

[2016-11-09 23:33] hunkim opened #28 "Beam search?"
Currently, we are using weighted_pick to select outputs:
[code]

Should we also add beam search as an option?

See beam search implementations in Tensorflow https://github.com/tensorflow/tensorflow/issues/654!

[2016-11-10 10:57] usr1993 commented on #27
One way to evaluate a LM is to calculate the perplexity score of a given sentence (how meaningful the sentence is). There is two popular train/dev/test datasets :  PTB and One Billion Word Benchmark.

[2016-11-16 11:32] kharazi commented on #27
+1

[2016-11-23 17:27] vhf opened #30 "Multiple GPUs"
Do you have any idea what would be the best way to leverage multiple GPUs?

[2016-11-27 17:31] sunxiaobiu commented on #21
The value of initial_state is updated after processing each batch of words:
 `       outputs, last_state = seq2seq.rnn_decoder(inputs, self.initial_state, cell, loop_function=loop if infer else None, scope='rnnlm')
self.final_state = last_state
 feed = {self.input_data: x, self.initial_state:state}
 [probs, state] = sess.run([self.probs, self.final_state], feed)
`
the `zero_state `  model def__ini

[2016-12-10 15:53] TheOncomingStorm opened #31 "WARNING:tensorflow:From train.py:85 in train.: initialize_all_variables (from tensorflow.python.ops.variables) is deprecated and will be removed after 2017-03-02. Instructions for updating: Use `tf.global_variables_initializer` instead."
The subject says it all. I'm still learning how to work with TF so I'm unable to correct it myself at this point..

[2016-12-10 15:55] TheOncomingStorm opened #32 "How to tell if checkpoints are resuming?"
When I use "--init_from", the count on my training starts back at 0 instead of whatever it happened to be. Is this expected?

[2016-12-10 16:02] garker commented on #32
Eric im also using this code making many improvements

Runing in Pycharm now

Gregory Parker, Ph.D.

On Sat, Dec 10, 2016 at 10:55 AM, Eric <notifications@github.com> wrote:

[2016-12-14 18:28] jithurjacob opened #33 "Support for Unicode"
Does the script support Unicode? I've been trying to set it up with Malayalam but not able to

[2016-12-14 23:59] hunkim commented on #33
It does.

Check the util.py and make sure it will include your language. For example, for Korean, I added:

[code]

[2016-12-14 23:59] #33 closed

[2016-12-15 00:00] hunkim commented on #32
@garker Could you send me several PRs for the improvement? Thanks!

[2016-12-17 15:39] rishabh254 commented on #31
If we follow what the warning says , replacing 'initialize_all_variables' by 'global_variables_initializer' and 'all_variables' by 'global_variables' removes the warning.

[2016-12-17 22:47] hunkim commented on #31
@rishabh254 Could you send us a pull request?

[2017-01-01 02:29] TheOncomingStorm commented on #32
Aaah, now that explains it. I wonder if there's a way to stop the training from resetting.

[2017-01-01 03:49] normanheckscher commented on #32
@TheOncomingStorm I've pushed out out another PR. I saved the batch as a `tf.Variable()` which is saved in the checkpoint file and subsequently called to set the `batch_pointer` if resuming a training session. Check my code.

[2017-01-02 06:45] #32 closed

[2017-01-03 16:58] #31 closed

[2017-01-03 21:53] TheOncomingStorm opened #37 "slowing down over time"
With the new changes training now starts slowing down. First it's normal speed but after about 1000 or so batches it more than doubles the time and eventually it takes almost 50 times as much time to complete a batch and seems to go up geometrically at some point.

My batch times went from 0.7 seconds each to 30 seconds each in under 10,000 batches.

I have read that this usually means the graph h

[2017-01-04 01:45] normanheckscher commented on #37
I just pushed an update onto the master.

By moving the batch_pointer write operation into the feed operation, the read/writes for each batch has been halved and a similar result should be seen with the times for batch processing as read/write to GPU memory can be a significant bottleneck depending on hardware.

I'm using a MacBook with a shared GPU. As a result my batch times tend to vary a bit.

[2017-01-04 01:45] #37 closed

[2017-01-09 11:20] normanheckscher opened #45 "Perplexity & Performance"
Looking for a way to determine performance.
Perhaps it's possible to use perplexity?

Something similar to the following pull request:
https://github.com/sherjilozair/char-rnn-tensorflow/pull/56

[2017-01-09 15:22] normanheckscher opened #46 "Refactor with state_is_tuple=True"
Need to refactor with state_is_tuple=True for TF 0.11?

[code]

[code]

[2017-01-11 06:21] hunkim opened #47 "TensorFlow 1.0.0-alpha"
Exciting news!

https://github.com/tensorflow/tensorflow/releases/tag/v1.0.0-alpha

However, it includes some API breaking changes. Perhaps, we need to refactor our code.

Please feel free to test and send us PR for TF 1.0!

[2017-01-11 13:35] normanheckscher commented on #47
- I've pushed in some changes to a new branch.
- Need to look further into the tf.contrib.seq2seq
- I can't compare speed with older versions yet because TF1.0 from the `pip install` isn't optimally compiled for my computer yet.
- Need to investigate the deprecation of `concat`

WARNING:tensorflow:From /Users/norman/Documents/workspace/word-rnn-tensorflow/model.py:66: concat (from tensorflow.pytho

[2017-01-12 06:23] normanheckscher commented on #47
I slipped in a new --gpu_mem switch with a default use of 66% of GPU memory. I've found that this helps load the graph onto my limited 1GB share notebook GPU (rMBP mid-2012). It might not be needed, or it may inhibit, when using GPUs with larger memory specs.

Can change or remove this.

[2017-01-18 12:48] GenTxt opened #49 "beam search pick - error"
Hi:

Training and standard sampling working perfectly in tensorflow 12.1 on 64 bit ubuntu with gpu.

Problem occurs when choosing "beam search pick" for sampling. After 15 minutes of trying to generate default 200 words the following warning appears:

/home/aaron/Desktop/word-rnn-tensorflow/beam.py:26: RuntimeWarning: divide by zero encountered in log
  cand_scores = np.array(live_scores)[:, None]

[2017-01-18 14:15] hunkim commented on #49
That part is not fully tested. Could you try with a very small dataset?

Sung

On Wed, Jan 18, 2017 at 8:48 PM, GenTxt <notifications@github.com> wrote:

[2017-01-18 15:54] GenTxt commented on #49
Original corpus was 6.3 megs. Trained with tinyshakespeare 1.1 megs.

Script generated random prime word (which did not happen before) but 20 minutes later there was still no terminal output for 200 words.

Previous warning message did not appear.

[2017-01-18 21:30] normanheckscher commented on #49
Original reference:
https://github.com/hunkim/word-rnn-tensorflow/pull/29

[2017-01-24 10:51] shanalikhan opened #50 "How to calculate perplexity using this library"
Hi,
Would you please tell me how to calculate the perplexity using this RNN ? may be some fields or location you can help and fields from where i can get

[2017-02-02 16:32] victorkwan commented on #49
I've attempted a solution in #51.

[2017-02-17 01:33] chiphuyen opened #52 "Why is args.vocab_size passed in sequence_loss_by_example?"
I looked up the documentation for sequence_loss_by_example and it doesn't seem to be taking vocab_size as argument. I'd really appreciate it if you could help me understand what this argument is doing. Thanks a lot!
` loss = seq2seq.sequence_loss_by_example([self.logits],
                [tf.reshape(self.targets, [-1])],
                [tf.ones([args.batch_size * args.seq_length])],

[2017-03-11 19:32] shanalikhan commented on #50
Found answer at : http://stackoverflow.com/questions/41881308/how-to-calculate-perplexity-of-rnn-in-tensorflow

[2017-03-11 19:32] #50 closed

[2017-03-19 04:36] alasjesner opened #53 "ImportError: cannot import name 'rnn_cell'"
Does the import statement change for Windows?
I'm sorry, I'm not pretty versed in Python.
![error_rnn](https://cloud.githubusercontent.com/assets/13919937/24078152/b41ebaba-0c8b-11e7-95cc-7287c1deedef.PNG)

[2017-03-20 18:42] ammarasmro commented on #53
What version of Tensorflow are you running this on? The names in the api have changed, for example you need to change the rnn_cell to tf.contrib.rnn.BasicRNNCell and so on. Check the api for the current version

[2017-03-21 02:16] Songweiping commented on #21
Hi @sunxiaobiu @hunkim, I am confused with initial_state, too.
After a batch, you feed `feed[c]=state[i].c, feed[h]=state[i].h` to model. Does this mean using last state of last batch as initial state of current batch? In `outputs,last_state = seq2seq.rnn_decoder(inputs, self.initial_state, cell, loop_function=loop if infer else None, scope='rnnlm'`, `self.initial_state` would not be `zero_state`

[2017-03-21 19:18] irpap commented on #53
alasjener I had the same issue, but I checked out the master1.0 branch which has some updates for tensorflow 1.0, you can try that (`git fetch --all; git checkout master1.0`)

[2017-03-21 21:44] hunkim commented on #53
Could you come up with a PR (perhaps using dynamic RNN)?

[2017-03-22 16:21] noi01 commented on #53
Was running into the same problem. Be sure to check your Tensorflow version with the version of the word-rnn-tensorflow you want to run. For Tensorflow 1.0.1 - get master 1.0 from https://github.com/hunkim/word-rnn-tensorflow/branches .

[2017-03-29 06:48] koctob opened #54 "AttributeError: 'module' object has no attribute 'merge_all'"
#python3 train.py

reading text file
Traceback (most recent call last):
  File "train.py", line 134, in <module>
    main()
  File "train.py", line 52, in main
    train(args)
  File "train.py", line 88, in train
    merged = tf.summary.merge_all()
AttributeError: 'module' object has no attribute 'merge_all'

Running it I'm getting this error.
I've install tensor flow with :
export TF_BINARY_URL=h

[2017-03-31 06:39] koctob commented on #54
Sorry my fault the problem was related to tensorflow version and the python installation.

[2017-03-31 06:39] #54 closed

[2017-04-04 09:15] normanheckscher commented on #53
Should be working with the tensorflow 1.1 release candidate. Works from the head.

[2017-04-04 09:15] #53 closed

[2017-04-04 14:19] normanheckscher commented on #49
I've pulled @victorkwan solution into master with latest update. Please check and open new issue if problems persist.

[2017-04-04 14:19] #49 closed

[2017-05-04 17:49] FirestarterUA opened #55 "Variable rnnlm/softmax_w already exists, disallowed. Did you mean to set reuse=True in VarScope?"
Hello. Please help my with little problem. I want to write simple Rest with Flask:
[code]

First time in browser(Good):

http://127.0.0.1:5000/200/2/4/shakespeare
text:
&C: BIANCA: Believe me, boy; and me, sir, of my troth, I am not so. LADY ANNE: I will not be a man to shrink from him, Or else the duke is great; but to be back'd with the Tower. KING EDWARD IV: Why, here's a man of fourscore three

[2017-05-04 18:11] FirestarterUA commented on #55
Simple answer:

`app.run(threaded=True)`

But how to optimise model loadind(((

[2017-05-24 13:26] Crista23 opened #57 "How can I add accuracy during training and validation?"
I would like to see if the model improves during training or is overfitting. To this end, I would like on the one hand to add accuracy as a metric besides loss, and a validation set to see the validation loss and accuracy. I am new to Tensorflow, is there any easy way to do it? Thanks!

[2017-06-04 23:23] andrianpr opened #58 "Blue Score"
How can i compute blue score on model prediction?

[2017-06-04 23:23] #58 closed

[2017-06-08 17:50] stevenochs2 opened #59 "seq2seq can not import name"
Hey, Thank you for this model. I'm a noob, trying to utilize this to push my thoughts on writing. I'd like to use this model to see what sort of word couplings it could produce to incorporate into my novel. Thanks for the help.

I am getting this error. Using python 2.7 with Tensorflow 1.2 on mac - Sierra.

Stevens-MacBook-Pro:char-rnn-tensorflow-master StevenOchs$ python train.py
Traceback (most

[2017-06-17 17:52] stevenochs2 commented on #59
I solved this by creating a virtual environment and did a clean install there.

[2017-06-17 17:53] #59 closed

[2017-06-21 08:17] hksonngan commented on #52
tensorflow version < 1.0 have arg num_decoder_symbols: Integer, number of decoder symbols (output classes).

[2017-06-22 17:34] kartikmokashii opened #60 "Can I stop train.py and resume it later?"
Pretty much what it says in the title. I've noticed that it occasionally saves the model, so I was wondering if it's safe for me to stop it and resume it later.

[2017-06-22 18:02] normanheckscher commented on #60
When resuming you'll need to use the '--init_from' flag to set the location of the saved files which are to be resumed.

[2017-06-22 23:26] #60 closed

[2017-06-23 03:38] kartikmokashii commented on #60
So I'm trying to enter $ python train.py --init_from /Users/kartikmokashi/Desktop/word-rnn-tensorflow-master/save/model.ckpt but it says that my argument must be a path

[2017-06-23 03:41] normanheckscher commented on #60
`python train.py --init_from=/Users/kartikmokashi/Desktop/word-rnn-tensorflow-master/save/`

[2017-06-23 03:41] kartikmokashii commented on #60
Oh thanks I just tried that and it works

[2017-07-06 02:15] zhuzhujulie opened #61 "about the prepared files?"
Hi, we can see that you prepare 3 files from the data directory.
“input.txt” represents the training data
"vocab.pkl" represents the vocabulary list
And i don't understand what does the "data.npy" stands for?

[2017-07-14 12:33] ckcz123 opened #62 "rnn_decoder -> attention_decoder ?"
Hello everyone, I'm new to tensorflow...
The code works perfectly on my machine, but I wonder how to modify
`legacy_seq2seq.rnn_decoder()` -> `legacy_seq2seq.attention_decoder()` ?

I have tried a lot, but it still doesn't work...
So if anyone can tell me how to define `attention_states`.
Thanks!

[2017-08-16 09:14] Rojina99 commented on #28
Can you please explain me why cumulative sum is used here ?

[2017-08-24 21:10] sunsidazzz opened #63 "Generating words from trained RNN model: “Variable already exists, disallowed. Did you mean to set reuse=True in VarScope? ”"
So I am trying to implemented this RNN word generator model in jupytor notebook. When I was trying to use the trained model to generate some words:

    with open(os.path.join(cfgs['save_dir'], 'config.pkl'), 'rb') as f:
       saved_args = cPickle.load(f)

    with open(os.path.join(cfgs['save_dir'], 'words_vocab.pkl'), 'rb') as f:
       words, vocab = cPickle.load(f)

    with tf.Session() as s

[2017-09-12 05:47] bharathjatoth commented on #63
The problem is with anaconda as it is not clearing the cache immediately. Try using Pycharm it is working fine.

[2017-09-14 07:18] bharathjatoth opened #64 "After training in the output it is displaying the input we are giving too. How to avoid printing the input again?"

[2017-09-18 15:07] majinman opened #65 "how to encode Korean text input file?"
When I use Korean test as the input.txt, error occurs like the following.

UnicodeDecodeError: 'cp949' codec can't decode byte 0xff in position 0: illegal multibyte sequence

how can I make computer learn Korean text?

Plz, help me.

[2017-09-25 06:29] #64 closed

[2017-09-27 20:47] sunsidazzz opened #66 "Output format."
So from your **sample output**,  the format looks very good, I mean did the model format this for you or you manually separated the paragraphs?
`LEONTES:
Why, my Irish time?
And argue in the lord; the man mad, must be deserved a spirit as drown the warlike Pray him, how seven in.

KING would be made that, methoughts I may married a Lord dishonour
Than thou that be mine kites and sinew for his hono

[2017-11-20 13:27] suzil commented on #19
I get the error, but for the line with the error when I setup a `try: [line] except IndexError: import pdb; pdb.set_trace()` I never again encounter the error.

[2017-11-30 10:48] patakk commented on #65
If you look at the _train.py_ code, you'll see there's a `--input_encoding` argument to which you supply some of these [these](https://docs.python.org/3/library/codecs.html#standard-encodings). I think you need _cp949_.

[2017-12-11 14:25] suzil commented on #63
You could also try adding this line in the code `tf.reset_default_graph()` before the new session is created.

[2018-01-12 17:50] igarbera opened #69 "How I can continue train.py after reboot?"
Hello! My server was rebooted and i need to continue train, but have an error:

`[root@adm word-rnn-tensorflow]# python3.6 train.py --data_dir="./data/adm_seotexts" --save_dir="./save/adm_seotexts" --init-from=./save/adm_seotexts

usage: train.py [-h] [--data_dir DATA_DIR] [--input_encoding INPUT_ENCODING]
[--log_dir LOG_DIR] [--save_dir SAVE_DIR]
[--rnn_size RNN_SIZE] [--num_layers NUM_LAYERS]
[-

[2018-01-12 19:03] TheOncomingStorm commented on #69
I don't think there's an "=" in that usage. Maybe removing that helps?

[2018-01-12 20:26] igarbera commented on #69
no, it not helps  - still the same error

train.py: error: unrecognized arguments: --init-from

[2018-01-12 21:17] normanheckscher commented on #69
--init_from

It's an underscore not a hyphen.

[2018-01-12 21:17] #69 closed, assigned to nobody

[2018-02-15 20:48] #30 closed

[2018-02-18 02:55] frauber84 opened #70 "TensorBoard - Embedding Projector"
Edit: nevermind, I got the embeddings projector to work, will submit a pull request to add this to the project, it's a really nice feature for exploring data .

[2018-02-21 00:53] #70 closed, assigned to nobody

[2018-03-07 05:30] Meowdoleon commented on #66
You can't have structure with a print() function. You have to do it yourself with a text treatment software like Microsoft Word.

[2018-03-07 05:48] Meowdoleon opened #71 "Writing the output into a file instead of printing in console"
Since the Windows cmd has a limit of around 5000 words, it is problematic if you want to do a sample greater than that. I modified the sample.py file in my fork so that it append the strings to a file called "output.txt" instead. Feel free to look at it and implement it in your code. I never did python before this, so it may have some issues that I am not personally seeing.

[2018-03-21 00:27] #71 closed, assigned to nobody

[2018-03-27 10:11] ronandquinn opened #73 "Retrain with new input files?"
Hi
Isn't it possible to retrain the model with new data, to improve output?
When I train the model with my own txt file, then retrain with a new txt file, using the init_from arg, the first issue is the new data and loaded model will obviously disagree on word set and dictionary mappings, but even if these assertions are removed, I still get:

[code]

Incompatible shapes

`InvalidArgumentError (se

[2018-04-18 09:16] sp00ck opened #74 "example not working"
[code]

i have tensorflow ok

[2018-04-19 05:02] Tahlor opened #75 "Vocab index ordering?"
Why do we calculate word counts if we ultimately include all words and sort the vocab alphabetically? Mostly I'm wondering if you ordered it with the most common words first, and later reverted to alphabetical ordering for some reason. Would it be bad to have the most common words first? Or do we expect the model would learn better with a random ordering?

In utils.py:
[code]

[2018-06-05 08:25] gokhanakgun opened #76 "Word Embeddings"
First of all, it is a very good repo, thanks to all who contributed. Actually, this is not an issue, just a question: Did you use any word embedding (like GloVe, doc2vec or fasttext) for the input words? If so, how can we change that from one to another? If not, where should we add it and how can we organize the dependent parameters such as vocab?

[2018-07-06 21:38] Sam1370 opened #77 "Pause training"
I want to be able to pause training.

[2018-07-12 14:43] murthyn opened #78 "UnicodeEncodeError When Training With Different Encoding"
I first trained the seq to seq model using a UTF-8 encoding (instead of the default ASCII). When sampling from this model, I get the following error:

How can I fix this?

[2018-07-14 14:00] kertase commented on #66
You can print new lines. Other rnn-tensorflow models do learn new lines too…

This is something that should be definitely fixed.

[2018-07-14 16:14] kertase opened #79 "Seperate graphes when not restoring old dataset"
The dataset generated from each run is added up to the old one instead of generating a new one for indepedent runs.

[2018-07-23 00:48] probablyrei opened #80 "Not sure where to go from here, please help."
Wow this is my fourth edit. I installed tensorflow (finally) and when I open the command prompt I don't know what to put in. I opened every .py file but since I'm absolutely the worst at all of this I don't know what I'm supposed to be doing, I just need help asap thanks

[2018-07-23 03:21] #80 closed, assigned to nobody

[2018-07-23 03:22] probablyrei opened #81 "Error when trying to train."
When I open train.py I get a traceback error that says:

Traceback (most recent call last):
  File "C:\Users\User\Desktop\word-rnn-tensorflow-master\train.py", line 134, in <module>
    main()
  File "C:\Users\User\Desktop\word-rnn-tensorflow-master\train.py", line 54, in main
    train(args)
  File "C:\Users\User\Desktop\word-rnn-tensorflow-master\train.py", line 57, in train
    data_loader = Te

[2018-07-23 15:27] flexwie commented on #77
Just cancel and restart by using the `--init_from` flag and corresponding directory

[2018-08-18 01:20] xunxdd opened #82 "My project and sample output"
thanks for the great work. Using your code, after training with two of Garcia Marquez's masterpieces, _Love in the time of Cholera_ and 1_00 years of Solitude_, I was able to get pretty good, intriguing and magical output. Though when the output is read as a whole, the words do not really make sense.

Anyway would like to share and say thank you.

https://github.com/xunxdd/Write-with-RNN-LSTM

<a

[2018-10-02 17:52] Enviy commented on #81
I received this error at first as well. I had to ensure that I was in the same directory as the 'data' folder.

[2018-10-20 03:22] probablyrei commented on #81
Can you please elaborate on what you mean by that?

[2018-10-20 03:25] normanheckscher commented on #81
Looks like filesystem directory structure naming issue. Forward and
backward slashes.

"data/tinyshakespeare\input.txt"

On Sat., 20 Oct. 2018, 13:22 probablyrei, <notifications@github.com> wrote:

[2018-10-20 03:29] Enviy commented on #81
That's a good point about the backslash. At first I thought it was escaping a space character but there shouldn't be a space there so it's odd.

So earlier I mentioned ensuring you were in the 'data' directory. What I meant is that when I encountered a similar issue, it worked when I navigated to the project directory which had the 'data' directory in it. The script has default args which look for

[2018-12-12 20:42] abubakar-ucr commented on #57
Did someone post a solution to this? or @Crista23, did you find something yourself.

[2019-01-02 08:39] AustinZuniga opened #83 "How to predict the best word from set of words?"
I'm trying to use your Word level RNN to predict the best word from a set of words.
let's say the set of words will be:
             set_of_words = {beautiful, beauty, bea}

and the output of the rnn model = "beautiful"

how can i do this using your rnn model?

[2019-01-27 06:36] AustinZuniga opened #84 "How can i get the probability of each word?"
in using your Word level RNN language model, how can i get the probability of a single word?

[2019-04-02 08:03] micooke commented on #81
The problem is the formation of the default value for ```--data_dir```
https://github.com/hunkim/word-rnn-tensorflow/blob/master/train.py#L15

You can change this line locally to ```default=os.join('data','tinyshakespeare')``` or pass thus parameter when you can it ```python train --data_dir data\\tinyshakespeare```

[2019-04-19 06:26] jobsfan opened #85 "Hello, any idea for creating a new article with the same meaning according to the given articles"
input: several news with the same topic, maybe the same event reported by different media company.

output: a brand-new news article with the same meaning.

I have no idea how to start with this. Can you give any help?

[2019-11-26 12:56] nicholas-abad opened #87 "Not Training/Sampling Properly"
Hi,

I've tried training the default LSTM model and the RNN (with basic hyperparameters) on a scraped Friends script (which can be found [here](https://github.com/hunkim/word-rnn-tensorflow/files/3891908/input.txt.zip))

 but for some reason, after 100 epochs in both cases, sampling results in the same exact script as previously. For example after training, a sample would give
[code]
but this is e

[2020-05-12 07:25] SeekPoint opened #88 "can we use it to predict the next word(token) while the user are inputting?"

[2020-08-25 19:16] Wrench-wench commented on #74
I've had a similar issue with train.py calling tensorflow.contrib

Solved by running _python -m pip install tensorflow==1.14_ from inside the python venv I was using.

Ubuntu 18.04 LTS
Tensorflow 1.14
Python 3.6.9

Hope this helps with your issue.

[2020-08-25 21:42] sp00ck commented on #74
[code]

$uname -a
Linux 5.7.12-200.fc32.x86_64 #1 SMP Sat Aug 1 16:13:38 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

[2020-08-26 09:57] Wrench-wench commented on #74
Interesting. The only way I could replicate the error message is by misspelling the package name, but by your reply I can see it was spelt correctly.

I installed a fresh copy of Ubuntu 18.04 on a machine and setup Word-RNN-Tensorflow.
Here are all the commands I used to set it up in a Python venv, hopefully one of these are your fix.
[code]
Good luck!

EDIT: Forgot about markdown, changed formatt

[2021-03-09 03:45] fhuewhd commented on #85
This is an old message, of course, but for anyone else reading this: you're out of luck.  This program, and others built on the same principles, actually have no idea what any of the words they're using mean.  They just follow patterns in what words usually follow what other words, etc.